/* Continue game button which triggers the opening scene transition */
.continue-game {
    border: 1px solid black;
    background-color: white;
    text-align: left;
    font-family: Pokemon-Emerald, sans-serif;

}
@media (min-width: 768px) {
    .continue-game {
        width: 590px;
        height: 93px;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .continue-game {
        width: 518px;
        height: 82px;
        margin-top: 4px;
        margin-left: 4px;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .continue-game {
        width: 295px;
        height: 47px;
        margin-top: 3px;
        margin-left: 3px;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .continue {
        padding-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .continue {
        padding-bottom: 9px;
    }
}
@media (max-width: 479px) {
    .continue {
        padding-bottom: 5px;
    }
}

.column {
    float: left;
    width: 25%;
}

.column1 {
    text-align: left;
}
.column2, .column4 {
    text-align: right;
}
.column3 {
    text-align: left;
}
@media (min-width: 768px) {
    .column3 {
        padding-left: 75px;
    }
}
@media (max-width: 767px) {
    .column3 {
        padding-left: 66px;
    }
}
@media (max-width: 479px) {
    .column3 {
        padding-left: 39px;
    }
}

@media (min-width: 768px) {
    #top-row {
        padding-top: 10px;
    }
}
@media (max-width: 767px) {
    #top-row {
        padding-top: 9px;
    }
}
@media (max-width: 479px) {
    #top-row {
        padding-top: 5px;
    }
}