/* Continue game button which triggers the opening scene transition */
.anime-continue-game {
    border: 1px solid black;
    background-color: white;
    text-align: left;
    font-family: Pokemon-Emerald, sans-serif;

}
@media (min-width: 768px) {
    .anime-continue-game {
        width: 590px;
        height: 93px;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .anime-continue-game {
        width: 518px;
        height: 82px;
        margin-top: 4px;
        margin-left: 4px;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .anime-continue-game {
        width: 295px;
        height: 47px;
        margin-top: 3px;
        margin-left: 3px;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .anime-continue {
        padding-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .anime-continue {
        padding-bottom: 9px;
    }
}
@media (max-width: 479px) {
    .anime-continue {
        padding-bottom: 5px;
    }
}

.anime-column {
    float: left;
    width: 25%;
}

.anime-column1 {
    text-align: left;
}
.anime-column2, .anime-column4 {
    text-align: right;
}
.anime-column3 {
    text-align: left;
}
@media (min-width: 768px) {
    .anime-column3 {
        padding-left: 75px;
    }
}
@media (max-width: 767px) {
    .anime-column3 {
        padding-left: 66px;
    }
}
@media (max-width: 479px) {
    .anime-column3 {
        padding-left: 39px;
    }
}

@media (min-width: 768px) {
    #anime-top-row {
        padding-top: 10px;
    }
}
@media (max-width: 767px) {
    #anime-top-row {
        padding-top: 9px;
    }
}
@media (max-width: 479px) {
    #anime-top-row {
        padding-top: 5px;
    }
}

#anime-professor-version-1 {
    left: 50px;
}
#anime-spotlight-version-1 {
    width: 500px;
    left: 50px;
}