/* Continue game button which triggers the opening scene transition */
.anime-continue-game {
    border: 1px solid black;
    background-color: white;
    text-align: left;
    font-family: Pokemon-Emerald, sans-serif;

}
@media (min-width: 768px) {
    .anime-continue-game {
        width: 590px;
        height: 93px;
        margin-top: 5px;
        margin-left: 5px;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .anime-continue-game {
        width: 518px;
        height: 82px;
        margin-top: 4px;
        margin-left: 4px;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .anime-continue-game {
        width: 295px;
        height: 47px;
        margin-top: 3px;
        margin-left: 3px;
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .anime-continue {
        padding-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .anime-continue {
        padding-bottom: 9px;
    }
}
@media (max-width: 479px) {
    .anime-continue {
        padding-bottom: 5px;
    }
}

.anime-column {
    float: left;
    width: 25%;
}

.anime-column1 {
    text-align: left;
}
.anime-column2, .anime-column4 {
    text-align: right;
}
.anime-column3 {
    text-align: left;
}
@media (min-width: 768px) {
    .anime-column3 {
        padding-left: 75px;
    }
}
@media (max-width: 767px) {
    .anime-column3 {
        padding-left: 66px;
    }
}
@media (max-width: 479px) {
    .anime-column3 {
        padding-left: 39px;
    }
}

@media (min-width: 768px) {
    #anime-top-row {
        padding-top: 10px;
    }
}
@media (max-width: 767px) {
    #anime-top-row {
        padding-top: 9px;
    }
}
@media (max-width: 479px) {
    #anime-top-row {
        padding-top: 5px;
    }
}

#anime-professor-version-1 {
    transition: opacity 200ms ease-in;
}
@media (min-width: 768px) {
    #anime-professor-version-1 {
        left: 50px;
    }
}
@media (max-width: 767px) {
    #anime-professor-version-1 {
        top: 45px;
        left: 30px;
        width: 144px;
        height: 219px;
    }
}
@media (max-width: 479px) {
    #anime-professor-version-1 {
        top: 25px;
        left: 17px;
        width: 82px;
        height: 125px;
    }
}

#anime-professor-spotlight-version-1 {
    transition: opacity 200ms ease-in;
}
@media (min-width: 768px) {
    #anime-professor-spotlight-version-1 {
        width: 160px;
        left: 50px;
    }
}
@media (max-width: 767px) {
    #anime-professor-spotlight-version-1 {
        width: 110px;
        left: 44px;
    }
}
@media (max-width: 479px) {
    #anime-professor-spotlight-version-1 {
        width: 65px;
        left: 25px;
    }
}


.anime-gym-leader-1 {
    position: fixed;
    z-index: 1;
    transition: opacity 3s ease-in;
}
@media (min-width: 768px) {
    .anime-gym-leader-1 {
        top: 100px;
        left: 230px;
        width: 133px;
        height: 190px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-1 {
        top: 95px;
        left: 201px;
        width: 116px;
        height: 157px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-1 {
        top: 50px;
        left: 115px;
        width: 67px;
        height: 95px;
    }
}

.anime-gym-leader-2 {
    position: fixed;
    z-index: 1;
    transition: opacity 3s ease-in;
}
@media (min-width: 768px) {
    .anime-gym-leader-2 {
        top: 75px;
        left: 310px;
        width: 150px;
        height: 210px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-2 {
        top: 67px;
        left: 280px;
        width: 131px;
        height: 184px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-2 {
        top: 38px;
        left: 160px;
        width: 75px;
        height: 105px;
    }
}

.anime-gym-leader-3 {
    position: fixed;
    z-index: 1;
    transition: opacity 3s ease-in;
    transform: rotateY(180deg);
}

@media (min-width: 768px) {
    .anime-gym-leader-3 {
        top: -25px;
        left: 380px;
        width: 220px;
        height: 340px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-3 {
        top: -22px;
        left: 339px;
        width: 192px;
        height: 297px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-3 {
        top: -12px;
        left: 193px;
        width: 110px;
        height: 170px;
    }
}

/* Spotlight the gym leaders will stand in */
.anime-gym-leader-spotlight {
    position: fixed;
    border-radius: 50%;
    /*display: inline-block;*/
    z-index: 0;
    background-color: #ffe99c;
    transition: opacity 500ms ease-in;
}
@media (min-width: 768px) {
    .anime-gym-leader-spotlight {
        top: 245px;
        left: 233px;
        height: 40px;
        width: 350px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-spotlight {
        top: 214px;
        left: 204px;
        height: 35px;
        width: 306px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-spotlight {
        top: 122px;
        left: 116px;
        height: 20px;
        width: 175px;
    }
}
