.home-pottamon-title {
    color: black;
    font-family: Pokemon Solid, sans-serif;
    text-align: center;
    grid-area: header;
}

.home-pottamon-title {
    font-size: 6vw;
    margin: 20px;
}

.home-intro-p-text {
    font-family: serif;
    font-size: 1.5rem;
}

.home-pottamon-figure {
    text-align: center;
    margin: 0;
}
.home-pottamon-image {
    width: 100%;
    height: 100%;
}
@media (max-width: 479px) {
    .home-pottamon-image {
        height: 50%;
    }
    .home-pottamon-caption {
        font-size: 66%;
    }
}

.home-pottamon-caption {
    display: block;
    padding: 5px;
}

.home-container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header   header   header"
    "professor text ........."
    "......... text pottamon1"
    "pottamon2 text ........."
    "......... text pottamon3"
    "pottamon4 text ........."
    "......... text pottamon5"
    "pottamon6 text ........."
    "......... .... footer";
    background-position: center;
    background-color: #d9d7de;
}
@media (min-width: 768px) {
    .home-container {
        grid-template-columns: 240px 480px 240px;
        width: 960px;
    }
}
@media (max-width: 767px) {
    .home-container {
        grid-template-columns: 160px 320px 160px;
        width: 640px;
    }
}
@media (max-width: 479px) {
    .home-container {
        grid-template-columns: 90px 180px 90px;
        width: 360px;
    }
}

.home-footer {
    grid-area: footer;
    font-size: 1rem;
}
