/* This is the background which is a 600x400 black screen which stays constant */
.anime-app-root {
    background-color: black;
}
@media (min-width: 768px) {
    .anime-app-root {
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 767px) {
    .anime-app-root {
        width: 525px;
        height: 350px;
    }
}
@media (max-width: 479px) {
    .anime-app-root {
        width: 300px;
        height: 200px;
    }
}

/* This is the box that holds the "New Game" Button and defines the gameboy space */
.anime-opening-scene {
    background-color: #d1d1d1;
    border: 1px solid black;
}
@media (min-width: 768px) {
    .anime-opening-scene {
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 767px) {
    .anime-opening-scene {
        width: 525px;
        height: 350px;
    }
}
@media (max-width: 479px) {
    .anime-opening-scene {
        width: 300px;
        height: 200px;
    }
}
/* Style for the title where we say PoTTaMoN */
.anime-pottamon-title {
    font-family: 'Pokemon Solid', sans-serif;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
@media (min-width: 768px) {
    .anime-pottamon-title {
        font-size: 50px;
    }
}
@media (max-width: 767px) {
    .anime-pottamon-title {
        font-size: 44px;
    }
}
@media (max-width: 479px) {
    .anime-pottamon-title {
        font-size: 25px;
    }
}


/* Start game button which triggers the opening scene transition */
.anime-new-game {
    border: 1px solid black;
    background-color: white;
    text-align: left;
    font-family: Pokemon-Emerald, sans-serif;
}
@media (min-width: 768px) {
    .anime-new-game {
        width: 590px;
        height: 50px;
        margin: 5px;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .anime-new-game {
        width: 518px;
        height: 44px;
        margin: 4px;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .anime-new-game {
        width: 295px;
        height: 25px;
        margin: 3px;
        font-size: 13px;
    }
}

/* ReactCSSTransitionGroup for the opening scene to fade away */
.anime-opening-scene-transition-leave {
    opacity: 1;
}
.anime-opening-scene-transition-leave-active {
    opacity: 0;
    background-color: black;
    transition: all 1500ms ease-in;
}

/*
    This is the part where Professor Squash comes in and introduces
    the players to the game
 */
.anime-main-scene {
    background-color: black;
    border: 1px solid black;
}
@media (min-width: 768px) {
    .anime-main-scene {
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 767px) {
    .anime-main-scene {
        width: 525px;
        height: 350px;
    }
}
@media (max-width: 479px) {
    .anime-main-scene {
        width: 300px;
        height: 200px;
    }
}

/* ReactCSSTransitionGroup elements for the main scene */
.anime-main-scene-transition-enter {
    opacity: 0.04;
}
.anime-main-scene-transition-enter.anime-main-scene-transition-enter-active {
    opacity: 2;
    transition: opacity 2s ease-in;
}
.anime-main-scene-transition-leave {
    opacity: 1;
}
.anime-main-scene-transition-leave.anime-main-scene-transition-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* Footer-text is the (click to continue) part that gets appended to the bottom of the typewriter */
@media (min-width: 768px) {
    #anime-footer-text {
        padding-top: 10px;
    }
}
@media (max-width: 767px) {
    #anime-footer-text {
        padding-top: 9px;
    }
}
@media (max-width: 479px) {
    #anime-footer-text {
        padding-top: 5px;
    }
}
/* Animation effects for the footer */
.anime-footer-text-transition-enter {
    opacity: 0.04;
}
.anime-footer-text-transition-enter.footer-text-transition-enter-active {
    opacity: 2;
    transition: opacity 1ms;
}
.anime-footer-text-transition-leave {
    opacity: 1;
}
.anime-footer-text-transition-leave.footer-text-transition-leave-active {
    opacity: 0;
    transition: opacity 1ms;
}



/* I think we need to use this holder to be able to position the professor the way we want to */
/* TODO: Can we get away with just using a span the same way we do for the pottamon? */
@media (min-width: 768px) {
    .anime-img-holder {
        width: 600px;
        height: 300px;
    }
}
@media (max-width: 767px) {
    .anime-img-holder {
        width: 525px;
        height: 263px;
    }
}
@media (max-width: 479px) {
    .anime-img-holder {
        width: 300px;
        height: 150px;
    }
}

/* style for the prof squash image */
.anime-professor {
    position: fixed;
    z-index: 1;
}
@media (min-width: 768px) {
    .anime-professor {
        top: 50px;
        left: 260px;
        width: 165px;
        height: 250px;
    }
}
@media (max-width: 767px) {
    .anime-professor {
        top: 80px;
        left: 250px;
        width: 110px;
        height: 175px;
    }
}
@media (max-width: 479px) {
    .anime-professor {
        top: 45px;
        left: 145px;
        width: 63px;
        height: 100px;
    }
}
/* A little flare for when the pottamon pops in */
.anime-confetti {
    position: fixed;
    z-index: 2;
}
@media (min-width: 768px) {
    .anime-confetti {
        top: 150px;
        left: 250px;
    }
}
@media (max-width: 767px) {
    .anime-confetti {
        top: 132px;
        left: 219px;
    }
}
@media (max-width: 479px) {
    .anime-confetti {
        top: 75px;
        left: 125px;
    }
}
/* style for the pottamon image */
.anime-pottamon {
    position: fixed;
    z-index: 1;
}
@media (min-width: 768px) {
    .anime-pottamon {
        top: 140px;
        left: 175px;
        width: 130px;
        height: 150px;
    }
}
@media (max-width: 767px) {
    .anime-pottamon {
        top: 101px;
        left: 132px;
        width: 132px;
        height: 154px;
    }
}
@media (max-width: 479px) {
    .anime-pottamon {
        top: 57px;
        left: 75px;
        width: 75px;
        height: 88px;
    }
}
/* Spotlight the professor will stand in */
.anime-spotlight {
    position: fixed;
    border-radius: 50%;
    display: inline-block;
    z-index: 0;
    background-color: #ffe99c;
}
@media (min-width: 768px) {
    .anime-spotlight {
        top: 250px;
        left: 125px;
        height: 25px;
        width: 325px;
    }
}
@media (max-width: 767px) {
    .anime-spotlight {
        top: 219px;
        left: 110px;
        height: 22px;
        width: 285px;
    }
}
@media (max-width: 479px) {
    .anime-spotlight {
        top: 125px;
        left: 63px;
        height: 13px;
        width: 162px;
    }
}
/* The textbox surrounding the typewriter text */
.anime-textbox {
    margin: auto;
}
@media (min-width: 768px) {
    .anime-textbox {
        border: 3px solid #d4e4ff;
        padding: 2px;
        width: 580px;
        height: 90px;
    }
}
@media (max-width: 767px) {
    .anime-textbox {
        border: 2px solid #d4e4ff;
        padding: 1px;
        width: 509px;
        height: 79px;
    }
}
@media (max-width: 479px) {
    .anime-textbox {
        border: 2px solid #d4e4ff;
        padding: 1px;
        width: 290px;
        height: 45px;
    }
}

/* IntroAnimation typewriter elements*/
.anime-react-typewriter-pointer {
    background-color: white;
    display: inline;
    padding: 0 1px;
}

.anime-react-typewriter-text {
    color: white;
    font-family: Pokemon-Emerald, sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
}
@media (min-width: 768px) {
    .anime-react-typewriter-text {
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    .anime-react-typewriter-text {
        font-size: 19px;
    }
}
@media (max-width: 479px) {
    .anime-react-typewriter-text {
        font-size: 11px;
    }
}

.anime-add-cursor-animate {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.anime-hide-typing-cursor {
    padding: 0;
}