#anime-professor-spotlight-version-2 {
    transition: opacity 200ms ease-in;
}
@media (min-width: 768px) {
    #anime-professor-spotlight-version-2 {
        width: 160px;
        left: 50px;
    }
}
@media (max-width: 767px) {
    #anime-professor-spotlight-version-2 {
        width: 110px;
        left: 44px;
    }
}
@media (max-width: 479px) {
    #anime-professor-spotlight-version-2 {
        width: 65px;
        left: 25px;
    }
}


#anime-professor-version-2 {
    transition: opacity 200ms ease-in;
}
@media (min-width: 768px) {
    #anime-professor-version-2 {
        left: 50px;
    }
}
@media (max-width: 767px) {
    #anime-professor-version-2 {
        top: 45px;
        left: 30px;
        width: 144px;
        height: 219px;
    }
}
@media (max-width: 479px) {
    #anime-professor-version-2 {
        top: 25px;
        left: 17px;
        width: 82px;
        height: 125px;
    }
}

.anime-gym-leader-1-v2 {
    position: fixed;
    z-index: 1;
    transition: opacity 3s ease-in;
}
@media (min-width: 768px) {
    .anime-gym-leader-1-v2 {
        top: 100px;
        left: 230px;
        width: 133px;
        height: 190px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-1-v2 {
        top: 95px;
        left: 201px;
        width: 116px;
        height: 157px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-1-v2 {
        top: 50px;
        left: 115px;
        width: 67px;
        height: 95px;
    }
}

.anime-gym-leader-2-v2 {
    position: fixed;
    z-index: 1;
    transition: opacity 3s ease-in;
}
@media (min-width: 768px) {
    .anime-gym-leader-2-v2 {
        top: 75px;
        left: 310px;
        width: 150px;
        height: 210px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-2-v2 {
        top: 67px;
        left: 280px;
        width: 131px;
        height: 184px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-2-v2 {
        top: 38px;
        left: 160px;
        width: 75px;
        height: 105px;
    }
}

.anime-gym-leader-3-v2 {
    position: fixed;
    z-index: 1;
    transition: opacity 3s ease-in;
    transform: rotateY(180deg);
}

@media (min-width: 768px) {
    .anime-gym-leader-3-v2 {
        top: -25px;
        left: 380px;
        width: 220px;
        height: 340px;
    }
}
@media (max-width: 767px) {
    .anime-gym-leader-3-v2 {
        top: -22px;
        left: 339px;
        width: 192px;
        height: 297px;
    }
}
@media (max-width: 479px) {
    .anime-gym-leader-3-v2 {
        top: -12px;
        left: 193px;
        width: 110px;
        height: 170px;
        /* TODO: some weird thing where on mobile, Xan's feet are behind the spotlight??? */
        z-index: 3;
    }
}