/* Spotlight the professor will stand in */
.exit {
    position: absolute;
    top: 0;
    left: 80%;
    height: 5%;
    width: 5%;
    border-radius: 0 0 50% 50%;
    display: block;
    background-color: #ffe99c;
}

.zubat {
    position: absolute;
    height: 15%;
    width: 5%;
    z-index: 2;
}

.zubat-game-registration-form {
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 0;
    padding: 0;
    z-index: 2;
    text-align: center;
    background-color: #d1d1d1;
    opacity: 0.5;
}

.zubat-game-form-label {
    position: relative;
    top: 33%;
}
