.intro-p-text {
    font-size: 32px;
    padding-left: 400px;
    padding-right: 400px;
    font-family: serif;
}

.pottamon-figure {
    width: 380px;
    height: 380px;
    display: block;
    text-align: center;
    margin: 0;
}
.float-right {
    padding-left: 10px;
    float: right;
}
.float-left {
    float: left;
    padding-right: 10px;
}
figcaption {
    display: block;
    padding: 5px;
}