.NavbarItems {
    background: #3c5aa6;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    position: absolute;
    top: 40px;
    left: 120%;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
    font-size: 18px;
    opacity: 0;
}
.nav-menu.active {
    opacity: 1;
    background: #3c5aa6;
    left: 80%;
    top: 40px;
    transition: all 0.5s ease;
    z-index: 1;
}

.menu-item {
    height: 50px;
}

.nav-links {
    color: #ffcb05;
    text-decoration: none;
    /*padding: 0.5rem;*/
    box-sizing: border-box;
    margin: 0;

    text-align: center;
    width: 100%;
    height: 100%;
    display: table;
}
@media (min-width: 960px) {
    .nav-links {
        font-size: 1em;
    }
}
@media (max-width: 959px) {
    .nav-links {
        font-size: 0.75em;
    }
}
@media (max-width: 414px) {
    .nav-links {
        font-size: 0.6em;
    }
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
@media (max-width: 959px) {
    .nav-links:hover {
        border-radius: 0;
    }
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 10%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-bars {
    color: #ffcb05;
}
.fa-times {
    color: #ffcb05;
    font-size: 2rem;
}