.opening-scene {
  width: 600px;
  height: 400px;
  background-color: #d1d1d1;
  border: 1px solid black;
}

.new-game {
  width: 590px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid black;
  background-color: white;
}

.example-appear {
  opacity: 0.04;
}
.example-appear.example-appear-active {
  opacity: 2;
  transition: opacity 5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
