@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@font-face {
  font-family: Pokemon-Emerald;
  src: url("Pokemon_Pixel_Font_Regular/pokemon_pixel_font.eot");
  src: url("Pokemon_Pixel_Font_Regular/pokemon_pixel_font.eot?#iefix") format("embedded-opentype"),
       url("Pokemon_Pixel_Font_Regular/pokemon_pixel_font.woff") format('woff'),
       url("Pokemon_Pixel_Font_Regular/pokemon_pixel_font.ttf") format("truetype"),
       url("Pokemon_Pixel_Font_Regular/pokemon_pixel_font.svg#svgFontName") format("svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
