.task-pottamon-wand {
    width: 420px;
    height: 360px;
    display: grid;
    grid-area: header;
    margin: auto;
    align-content: center;
}
.task-pottamon-logo {
    width: 450px;
    height: 150px;
    display: grid;
    grid-area: header;
    margin: auto;
    align-content: center;
}
@media (max-width: 767px){
    .task-pottamon-wand {
        width: 320px;
        height: 375px;
    }
    .task-pottamon-logo {
        width: 320px;
        height: 107px;
    }
}
@media (max-width: 479px){
    .task-pottamon-wand {
        width: 210px;
        height: 180px;
    }
    .task-pottamon-logo {
        width: 210px;
        height: 70px;
    }
}



.task-intro-p-text {
    font-family: serif;
    font-size: 1.5rem;
}
@media (max-width: 479px){
    .task-intro-p-text {
        font-size: 1rem;
    }
}

.task-gym-leader-figure {
    text-align: center;
    margin: 0;
}
.task-gym-leader-image {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .task-gym-leader-image {
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 479px) {
    .task-gym-leader-image {
        height: 100%;
        width: 100%;
    }
    .task-gym-leader-caption {
        font-size: 66%;
    }
}

.task-gym-leader-caption {
    display: block;
    padding: 5px;
}

.task-container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header  header  header"
    "figure1  text  figure2"
    "figure3  text  figure4"
    "figure5  text  figure6"
    "figure7  text  figure8"
    "footerLeft submit footerRight";
    background-position: center;
    background-color: #d9d7de;
    /*border: 1px solid black;*/
}
@media (min-width: 768px) {
    .task-container {
        grid-template-columns: 240px 480px 240px;
        width: 960px;
    }
}
@media (max-width: 767px) {
    .task-container {
        /*grid-template-columns: 160px 320px 160px;*/
        grid-template-columns: 320px 320px;
        grid-template-areas:
        "header  header"
        "figure1  text"
        "figure2  text"
        "figure3  text"
        "figure4  text"
        "figure5  text"
        "figure6  text"
        "figure7  text"
        "figure8  text"
        "footerLeft submit"
        "footerRight .....";
        width: 640px;
    }
}
@media (max-width: 479px) {
    .task-container {
        grid-template-columns: 180px 180px;
        width: 360px;
    }
}

.task-submit-form {
    display: grid;
    align-content: center;
}

.task-footer {
    font-size: 1rem;
}
.task-footer-left {
    grid-area: footerLeft;
}
.task-footer-right {
    grid-area: footerRight;
}
