.task-pottamon-title {
    color: black;
    font-family: Pokemon Solid, sans-serif;
    text-align: center;
    grid-area: header;
}

.task-pottamon-title {
    font-size: calc(32px + 2vw);
}

.task-intro-p-text {
    font-family: serif;
    font-size: 1.5rem;
}
@media (max-width: 479px){
    .task-intro-p-text {
        font-size: 1rem;
    }
}

.task-gym-leader-figure {
    text-align: center;
    margin: 0;
}
.task-gym-leader-image {
    width: 100%;
    height: 100%;
}
@media (max-width: 479px) {
    /*.home-pottamon-image {*/
    /*    height: 50%;*/
    /*}*/
    .task-gym-leader-caption {
        font-size: 66%;
    }
}

.task-gym-leader-caption {
    display: block;
    padding: 5px;
}

.task-container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header  header  header"
    "figure1  text  figure2"
    "figure3  text  figure4"
    "figure5  text  figure6"
    "figure7  text  figure8"
    "footerLeft submit footerRight";
    background-position: center;
    background-color: #d9d7de;
}
@media (min-width: 768px) {
    .task-container {
        grid-template-columns: 240px 480px 240px;
        width: 960px;
    }
}
@media (max-width: 767px) {
    .task-container {
        grid-template-columns: 160px 320px 160px;
        width: 640px;
    }
}
@media (max-width: 479px) {
    .task-container {
        /*grid-template-columns: 90px 180px 90px;*/
        grid-template-columns: 180px 180px;
        grid-template-areas:
        "header  header"
        "figure1  text"
        "figure2  text"
        "figure3  text"
        "figure4  text"
        "figure5  text"
        "figure6  text"
        "figure7  text"
        "figure8  text"
        "footerLeft submit"
        "footerRight .....";
        width: 360px;
    }
}

.task-submit-form {
    display: grid;
    align-content: center;
}

.task-footer {
    font-size: 1rem;
}
.task-footer-left {
    grid-area: footerLeft;
}
.task-footer-right {
    grid-area: footerRight;
}
